@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #E47912;
    --secondary-color: #396E94;
    --accent1-color: #241466;
    --accent2-color: #E7C24F;
  
    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
  
    --nav-background-color: #FFFFFF; 
    --nav-link-color: #000000; 
    --nav-hover-link-color: #396E94; 
    --nav-hover-background-color: #E7C24F;
}
  
body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}
  
h1 {
	font-size: 2rem;
	font-family: var(--heading-font);
    color: var(--primary-color);
}


h2, h3, h4, h5, h6 {
  font-family: var(--paragraph-font);
  color: var(--primary-color);
}
  
header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
  text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}


nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
  
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

header img {
    width: 150px; 
}

header nav {
    margin-right: 20px;
}

header nav a {
    color: #000000;
    text-decoration: none;
    margin-left: 0px;
    font-size: 15px;
    text-transform: uppercase;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.hero {
    position: relative;
    overflow: hidden;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-content {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -55%);
    text-align: center;
    color: #ffffff;
    width: 95%;
}

.hero-content h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--nav-background-color);
}

.hero-content article {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 20px;
}

.hero-content article img {
    float: right;
    width: 180px;
    margin-left: 10px;
}

section {
    margin-top: 40px;
}

section h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

section p {
    font-size: 18px;
}


footer {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    text-align: left;
    padding: 0;
}

footer p {
    margin: 0;
}

footer img {
    width: 40px;
    margin: 0 1px;
}

footer a {
    text-decoration: none;
}
