@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #E47912;
    --secondary-color: #396E94;
    --accent1-color: #241466;
    --accent2-color: #E7C24F;
  
    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
  
    --nav-background-color: #FFFFFF; 
    --nav-link-color: #000000; 
    --nav-hover-link-color: #396E94; 
    --nav-hover-background-color: #E7C24F;
}
  
body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
}
  
h1 {
	font-size: 2rem;
	font-family: var(--heading-font);
    color: var(--primary-color);
}

h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}
  
header {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
}

.logo {
    width: 120px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    border-radius: 4px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    display: block;
    height: auto;
}

.hero-content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    width: 95%;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content article {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 20px;
}

.hero-content article img {
    float: right;
    width: 180px;
    margin-left: 10px;
}

section.history {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 10px;
}

section.history p {
    max-width: 45%;
}

section.adventure-awaits {
    margin-top: 40px;
}

.rafting-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rafting-images figure {
    width: 30%;
    margin-bottom: 20px;
}

.rafting-images img {
    width: 100%;
    border-radius: 10px;
}

.rafting-images figcaption {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-top: 1px solid #ccc;
}

footer p {
    margin: 0;
}

.social-icons {
    display: flex;
}

.social-icons a {
    margin-left: 10px;
}

.social-icons img {
    width: 40px;
    height: auto;
}
